# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lesson-6/node_modules
lesson-8/node_modules
lesson-9/node_modules
node_modules/.bin/jest-runtime
node_modules/.bin/detect
node_modules/.bin/babylon
node_modules/.bin/jsesc
node_modules/.bin/html-minifier
node_modules/.bin/browserslist
node_modules/.bin/errno
node_modules/.bin/import-local-fixture
node_modules/.bin/loose-envify
node_modules/.bin/he
node_modules/.bin/atob
node_modules/.bin/rimraf
node_modules/.bin/esvalidate
node_modules/.bin/acorn
node_modules/.bin/uglifyjs
node_modules/.bin/esparse
node_modules/.bin/miller-rabin
node_modules/.bin/is-ci
node_modules/.bin/sshpk-conv
node_modules/.bin/js-yaml
node_modules/.bin/csso
node_modules/.bin/strip-indent
node_modules/.bin/sw-precache
node_modules/.bin/svgo
node_modules/.bin/webpack
node_modules/.bin/esgenerate
node_modules/.bin/semver
node_modules/.bin/regjsparser
node_modules/.bin/sshpk-verify
node_modules/.bin/internal-ip
node_modules/.bin/webpack-dev-server
node_modules/.bin/handlebars
node_modules/.bin/react-scripts
node_modules/.bin/json5
node_modules/.bin/multicast-dns
node_modules/.bin/mime
node_modules/.bin/eslint
node_modules/.bin/sha.js
node_modules/.bin/ansi-html
node_modules/.bin/sshpk-sign
node_modules/.bin/escodegen
node_modules/.bin/cssesc
node_modules/.bin/uuid
node_modules/.bin/rc
node_modules/.bin/sane
node_modules/.bin/which
node_modules/.bin/mkdirp
node_modules/.bin/detect-port
node_modules/.bin/jest
node_modules/postcss-merge-rules/node_modules/.bin/browserslist
node_modules/acorn-globals/node_modules/.bin/acorn
node_modules/caniuse-api/node_modules/.bin/browserslist
node_modules/jsdom/node_modules/.bin/acorn
node_modules/regjsparser/node_modules/.bin/jsesc
node_modules/handlebars/node_modules/.bin/uglifyjs
node_modules/acorn-jsx/node_modules/.bin/acorn
node_modules/acorn-dynamic-import/node_modules/.bin/acorn
node_modules/eslint/node_modules/.bin/esvalidate
node_modules/eslint/node_modules/.bin/esparse
node_modules/eslint/node_modules/.bin/js-yaml
node_modules/uglifyjs-webpack-plugin/node_modules/.bin/uglifyjs
node_modules/escodegen/node_modules/.bin/esvalidate
node_modules/escodegen/node_modules/.bin/esparse
node_modules/cssnano/node_modules/.bin/browserslist
node_modules/send/node_modules/.bin/mime
node_modules/fsevents/node_modules/.bin/needle
node_modules/fsevents/node_modules/.bin/rimraf
node_modules/fsevents/node_modules/.bin/detect-libc
node_modules/fsevents/node_modules/.bin/semver
node_modules/fsevents/node_modules/.bin/rc
node_modules/fsevents/node_modules/.bin/mkdirp
node_modules/fsevents/node_modules/.bin/node-pre-gyp
node_modules/fsevents/node_modules/.bin/nopt
node_modules/jest/node_modules/.bin/jest
lesson-7/node_modules
lesson-5/node_modules
lesson-10/node_modules
lesson-6/node_modules
lesson-8/node_modules
lesson-11/node_modules
lesson-9/node_modules
node_modules/.bin/jest-runtime
node_modules/.bin/detect
node_modules/.bin/babylon
node_modules/.bin/jsesc
node_modules/.bin/html-minifier
node_modules/.bin/browserslist
node_modules/.bin/errno
node_modules/.bin/import-local-fixture
node_modules/.bin/loose-envify
node_modules/.bin/he
node_modules/.bin/atob
node_modules/.bin/rimraf
node_modules/.bin/esvalidate
node_modules/.bin/acorn
node_modules/.bin/uglifyjs
node_modules/.bin/esparse
node_modules/.bin/miller-rabin
node_modules/.bin/is-ci
node_modules/.bin/sshpk-conv
node_modules/.bin/js-yaml
node_modules/.bin/csso
node_modules/.bin/strip-indent
node_modules/.bin/sw-precache
node_modules/.bin/svgo
node_modules/.bin/webpack
node_modules/.bin/esgenerate
node_modules/.bin/semver
node_modules/.bin/regjsparser
node_modules/.bin/sshpk-verify
node_modules/.bin/internal-ip
node_modules/.bin/webpack-dev-server
node_modules/.bin/handlebars
node_modules/.bin/react-scripts
node_modules/.bin/json5
node_modules/.bin/multicast-dns
node_modules/.bin/mime
node_modules/.bin/eslint
node_modules/.bin/sha.js
node_modules/.bin/ansi-html
node_modules/.bin/sshpk-sign
node_modules/.bin/escodegen
node_modules/.bin/cssesc
node_modules/.bin/uuid
node_modules/.bin/rc
node_modules/.bin/sane
node_modules/.bin/which
node_modules/.bin/mkdirp
node_modules/.bin/detect-port
node_modules/.bin/jest
node_modules/postcss-merge-rules/node_modules/.bin/browserslist
node_modules/acorn-globals/node_modules/.bin/acorn
node_modules/caniuse-api/node_modules/.bin/browserslist
node_modules/jsdom/node_modules/.bin/acorn
node_modules/regjsparser/node_modules/.bin/jsesc
node_modules/handlebars/node_modules/.bin/uglifyjs
node_modules/acorn-jsx/node_modules/.bin/acorn
node_modules/acorn-dynamic-import/node_modules/.bin/acorn
node_modules/eslint/node_modules/.bin/esvalidate
node_modules/eslint/node_modules/.bin/esparse
node_modules/eslint/node_modules/.bin/js-yaml
node_modules/uglifyjs-webpack-plugin/node_modules/.bin/uglifyjs
node_modules/escodegen/node_modules/.bin/esvalidate
node_modules/escodegen/node_modules/.bin/esparse
node_modules/cssnano/node_modules/.bin/browserslist
node_modules/send/node_modules/.bin/mime
node_modules/fsevents/node_modules/.bin/needle
node_modules/fsevents/node_modules/.bin/rimraf
node_modules/fsevents/node_modules/.bin/detect-libc
node_modules/fsevents/node_modules/.bin/semver
node_modules/fsevents/node_modules/.bin/rc
node_modules/fsevents/node_modules/.bin/mkdirp
node_modules/fsevents/node_modules/.bin/node-pre-gyp
node_modules/fsevents/node_modules/.bin/nopt
node_modules/jest/node_modules/.bin/jest
lesson-7/node_modules
lesson-5/node_modules
lesson-12/node_modules
